<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>

	<meta charset="utf-8">

	<title> Formulario de Acceso </title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<meta content="Videojuegos & Desarrollo" name="author">
	<meta content="Muestra de un formulario de acceso en HTML y CSS" name="description">
	<meta content="Formulario Acceso, Formulario de LogIn" name="keywords">

	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
	<link href="images/icons/favicon.ico" rel="icon" type="image/png" />
	<!--===============================================================================================-->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!--===============================================================================================-->
	<link href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!--===============================================================================================-->
	<link href="vendor/animate/animate.css" rel="stylesheet" type="text/css">
	<!--===============================================================================================-->
	<link href="vendor/select2/select2.min.css" rel="stylesheet" type="text/css">
	<!--===============================================================================================-->
	<link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css">
	<!--===============================================================================================-->
	<link href="../css/util.css" rel="stylesheet" type="text/css">
	<link href="../css/main.css" rel="stylesheet" type="text/css">
	<!--===============================================================================================-->


	<style type="text/css">
		/*//////////////////////////////////////////////////////////////////
		[ FONT ]*/

		#addUsers {
			display: none;
		}

		#showUsers {
			display: none;
		}

		#delUser {
			display: none;
		}
	</style>

	<script type="text/javascript">
		function addUsersFunc() {
			var addUsers1 = document.getElementById("addUsers");
			var showUser = document.getElementById("showUsers");
			var delUser = document.getElementById("delUser");
			addUsers1.style.display = "block";
			showUser.style.display = "none";
			delUser.style.display = "none";
		}
		function showUsersFunc() {
			var addUsers1 = document.getElementById("addUsers");
			var showUsers = document.getElementById("showUsers");
			var delUser = document.getElementById("delUser");
			addUsers1.style.display = "none";
			showUsers.style.display = "block";
			delUser.style.display = "none";
		}

		function delUsersFunc() {
			var addUsers1 = document.getElementById("addUsers");
			var showUsers = document.getElementById("showUsers");
			var delUser = document.getElementById("delUser");
			addUsers1.style.display = "none";
			showUsers.style.display = "none";
			delUser.style.display = "block";
		}

	</script>
</head>

<body>
	<div id="formButtons">
		<button name="Crear" onclick="addUsersFunc()" title="Crear" type="submit">Create user</button>
		<button name="Mostrar" onclick="showUsersFunc()" title="Mostrar" type="submit">Show users</button>
		<button name="Borrar" onclick="delUsersFunc()" title="Borrar" type="submit">Delete user</button>
	</div>
	<div id="addUsers">
		<form id="loginformAdd" method="POST" th:action="@{/addUser}">
			<input name="username" placeholder="usuario" required type="text">
			<input name="password" placeholder="Contraseña" required type="password">
			<select name="rol" required>
				<option value="1">admin</option>
				<option selected value="2">advanced</option>
				<option value="3">basic</option>
			</select>
			<button type="submit" title="Crear" name="Crear">Crear usuario</button>
		</form>
	</div>
	<div id="showUsers">
		 <div class="row align-items-start">
        <div class="col">
            <table class="table">
                <br>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Rol</th>
                    <th>Estado</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="u: ${listaUsers}">
                    <td th:text="${u.id}"></td>
                    <td th:text="${u.user}"></td>
                    <td th:text="${u.role.getRol()}"></td>
                    <td th:text="${u.enabled == 1 } ? 'ACTIVO' : 'DESHABILITADO'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
	</div>
	<div id="delUser">
		<form id="loginformDel" method="DELETE" th:action="@{/deleteUser}">
			<input name="userId" placeholder="userId" required type="text">
			<button type="submit">Delete</button>
		</form>
	</div>
</body>

</html>